<!DOCTYPE html>
<html>
  <head>
    <title>CitizenScientist</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="login-logout">
    <% if user_signed_in? %>
      <ul>
        <li class = entry-buttons>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
        </li>
      <% else %>
        <li class = entry-buttons>
          <a><%= link_to('Login', new_user_session_path)  %> </a> 
        </li>

        <li class = entry-buttons>
          <a><%= link_to('Sign up', new_user_registration_path)  %></a>  
        </li>
      </ul>


    <% end %>
  </div>

    <%= yield %>
  </body>
</html>
